<header class="site-header" role="banner">
  <nav id="headernav">
    <div id="active-background"></div>
    <div>
      <a href="/lists">
        <span class="material-symbols-rounded"> list </span>
        Lists
      </a>
    </div>
    <div>
      <a href="/">
        <span class="material-symbols-rounded"> home </span>
        Home
      </a>
    </div>
    <div>
      <a href="/articles">
        <span class="material-symbols-rounded"> article </span>
        Articles
      </a>
    </div>
  </nav>
</header>
<script src="/scripts/header.js"></script>