<header class="site-header" role="banner">
  <nav id="headernav">
    <div class="image">
      <img src="https://raw.githubusercontent.com/Plueres/plueres/main/website_images/icon192.png" alt="Logo">
    </div>
    <div id="header-links">
      <div>
        <a href="/lists">
          <!-- <span class="material-symbols-rounded"> list </span> -->
          Lists
        </a>
      </div>
      <div>
        <a href="/">
          <!-- <span class="material-symbols-rounded"> home </span> -->
          Home
        </a>
      </div>
      <div>
        <a href="/articles">
          <!-- <span class="material-symbols-rounded"> article </span> -->
          Articles
        </a>
      </div>
    </div>

  </nav>
</header>