#articles {
    width: 100%;
}
#filtersheader {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: $secondary-color;
    border-radius: $border-radius;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#filtersheader input {
    padding: 1rem;
    width: 100%;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    color: $text-color;

    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px $accent-color;
    }
}

#filtericon {
    cursor: pointer;
    padding: 0.7rem;
    border-radius: $border-radius;
    display: grid;
    aspect-ratio: 1 / 1;

    &.active {
        background-color: $primary-color;
    }
}

#filters {
    width: 100%;
}
#filterlist {
    background-color: $secondary-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    gap: 1rem;
    overflow: hidden;
    transition:
        height 0.3s ease,
        flex-direction 0.8s ease,
        padding 0.2s ease;
}

#filterlist.show {
    height: 16rem;
    overflow: scroll;
    padding: 1rem;
    margin: 1rem auto;
}

tag {
    background-color: $primary-color;
    border-radius: $border-radius;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

tag.selected {
    background-color: $accent-color;
}

tag input[type="checkbox"] {
    display: none;
}

// articles {
//     display: grid;
//     grid-template-columns: 4fr 1fr;
//     gap: 1rem;
// }

#articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
    overflow-y: scroll;
    height: 80vh;
    min-width: 100%;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    background: $secondary-color;
    height: max-content;
    min-width: 100%;
    position: relative;
}
.article-header-img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: $border-radius;
}
.article-text {
    margin: 1rem 0;
    width: 100%;
    text-wrap: pretty;
}

.article-text h3 {
    margin: 15px 0;
    line-height: 40px;
}

#article-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 6px;
}

posttags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px 6px;
    border-radius: 6px;
    margin-right: 5px; // Space between tags
    font-weight: bold;
}
@include media-query($on-palm) {
    articles {
        display: flex;
        flex-direction: column-reverse;
    }
    #articles-grid {
        // height: 75vh;
        overflow-y: unset;
        height: unset;
        margin-bottom: 6rem;
    }
}
