#blogs {
    transform: translateX(100vw);
}

#blogs-back-button {
    left: 0;
}

blogposts {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

#blogposts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;
    overflow-y: scroll;
    height: 80vh;
}

#filters {
    background: red;
    width: 16rem;
}

.wrapper {
    width: 100%;
    margin: 0 10%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-color;
    border-radius: $border-radius;
}
.blogpost-header-img {
    width: 100%;
    height: 10rem;
    object-fit: cover; // Add this line
    border-radius: $border-radius;
}
.blogpost-text {
    margin: 10px;
    width: 100%;
}
