body {
    height: calc(100vh - env(safe-area-inset-top));
}

#home {
    // grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin: 1rem auto; // to 10% on desktop
    padding: 1rem;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-areas:
        "masonryabout"
        "masonrymedia"
        "masonryother";
}

#masonryabout {
    grid-area: masonryabout;
}

#masonrymedia {
    grid-area: masonrymedia;
}

#masonryother {
    grid-area: masonryother;
}

#home h2 {
    margin: 0;
}

.masonrycol {
    width: 90vw;
    height: auto;
    height: 85vh;
    gap: 1rem;
    display: grid;
    overflow: auto; /* add this line */
}

.masonrymedia {
    background-attachment: fixed;
    background-size: cover;
    height: 100%; /* adjust as needed */
    width: 100%; /* adjust as needed */
    border-radius: $border-radius;
    background-repeat: no-repeat;
}

.widget {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.widget img {
    height: 100%;
    object-fit: contain; // Add this line
}
#spotify-widget {
    background-color: black;
    border: 5px solid rgba(30, 215, 96, 0.5);
    border-radius: $border-radius;
    justify-content: center;
}
.griditem {
    background-color: #18171c;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    container-type: size;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.cursor-visible {
    opacity: 1;
}

.cursor-invisible {
    opacity: 0;
}

@include media-query($on-laptop) {
    #home {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "masonrymedia masonryabout masonryother";
        width: 100%;
        height: 80vh;
        margin: 0rem 7rem;
    }
    .masonrycol {
        width: 100%;
        height: 100%;
    }
    .masonrymedia {
        background-position: center;
        background-attachment: unset;
    }
}
