// Homepage for personallists
#pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#pages main {
    width: 100%;
    height: 100%;
    padding: 10rem;
}

#personallists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;
}
#bucketlist,
#wishlist {
    background-image: linear-gradient(to bottom right, #ff0000, #ff00ff);
}

// Wishlist pages
#mainwishlist {
    flex-direction: column;
    width: 100vw;
}
.listgrid {
    display: grid;
    gap: 1rem;
    margin: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.listitem {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: $secondary-color;
    border-radius: $border-radius * 2;
    border: $primary-color solid 3px;
    transition: all 0.2s ease;
}
.listitem:hover {
    border: $primary-color-dim solid 3px;
    background: $background-color;
}
.listitemimg {
    background: white;
    border-radius: $border-radius * 2;
    display: flex;
    justify-content: center;
    margin: 6px;
}
.listitemcontent {
    margin: 1rem;
}
.listitemcontent h2 {
    font-size: 2.158rem;
}
.listitemcontent h3 {
    font-size: 1.369rem;
}
.listitem img {
    aspect-ratio: 3/4;
    align-self: center;
    object-fit: contain;
    width: 100%;
    border-radius: $border-radius * 2;
}
