<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {%- include head.html -%}

    <body>
        <div id="ImgModal">
            <img class="modal-content" id="img">
            <div id="caption"></div>
        </div>

        {% include header-posts.html -%}
        <!-- * this -->
        <!-- TODO: change header -->
        <!-- ! change it -->
        <!-- ? chagne this -->
        <!-- comment -->

        {%- include codeblockbuttons.html -%}

        <main id="articlecontent">
            <div class="post-header">
                <!-- Tags -->
                <div id="tags">
                    {% for tag in page.tags %}
                    <a href="{{ site.url }}/articles?tags={{ tag | url_encode }}">
                        <posttags>{{ tag }}</posttags>
                    </a>
                    {% endfor %}
                </div>
                <!-- Post title -->
                <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>

                <!-- Date -->
                <p class="post-meta">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y | %I:%M:%S %p" -%}
                        <span class="material-symbols-rounded">
                            edit_square
                        </span>
                        {{ page.date | date: date_format }}
                    </time>
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {% if page.updated %}
                        <span class="material-symbols-rounded">
                            update
                        </span>
                        {{ page.updated | date: date_format }}
                        {% endif %}
                    </time>

                    {%- if page.author -%}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                            itemprop="name">{{ page.author }}</span></span>
                    {%- endif -%}
                </p>
                <hr class="headerline">
            </div>

            {% if page.images %}
            <div class="previews">
                {% for image in page.images %}
                <img class="preview" src="{{ image }}">
                {% endfor %}
            </div>
            {% endif %}

            {{ content }}
        </main>
        {% include footer.html -%}
    </body>
    <script src="{{ site.baseurl }}/scripts/article.js"></script>
    <script src="{{ site.baseurl }}/scripts/global.js"></script>

</html>