<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {%- include head.html -%}

    <body>
        {%- include codeblockbuttons.html -%}
        <main id="articlecontent">
            <h2>{{ page.title }}</h2>
            {% if page.images %}
            <div id="ImgModal">
                <img class="modal-content" id="img">
                <div id="caption"></div>
            </div>
            <div class="previews">
                {% for image in page.images %}
                <img class="preview" src="{{ image }}">
                {% endfor %}
            </div>
            {% endif %}
            {{ content }}
        </main>
        {% include footer.html -%}
    </body>
    <script src="{{ site.baseurl }}/scripts/script.js"></script>
    <script src="{{ site.baseurl }}/scripts/global.js"></script>

</html>