<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

    {%- include head.html -%}

    <body>

        <main id="main">
            <div id="about" class="content-wrapper" style="transform: translateX(100vw);">
                {% include about.html -%}
            </div>
            <div id="home" class="content-wrapper">
                {% include home.html -%}
            </div>
            <div id="blogs" class="content-wrapper" style="transform: translateX(-100vw);">
                {% include blogs.html -%}
            </div>
        </main>

        <script>
            document.getElementById('about-button').addEventListener('click', function () {
                document.getElementById('main').style.transform = 'translateX(-100vw)';
            });

            document.getElementById('blogs-button').addEventListener('click', function () {
                document.getElementById('main').style.transform = 'translateX(100vw)';
            });


            document.getElementById('aboutback--button').addEventListener('click', function () {
                document.getElementById('home').style.transform = 'translateX(-100vw)';
                document.getElementById('about').style.transform = 'translateX(0)';
                document.getElementById('blogs').style.transform = 'translateX(-100vw)';
            });
        </script>

    </body>

</html>