---
layout: default
permalink: "/"
---

<div id="home">
  <section>
    <h1>Portfolio</h1>
    <img src="https://api.netlify.com/api/v1/badges/ff94a9c7-9b63-409d-849f-d7b5bed016d7/deploy-status?branch=portfolio"
      alt="Netlify Status" />
    <!-- content -->
    <a href="https://portfolio--plueres.netlify.app">Website Link</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga consequuntur nulla reiciendis veniam dolor
      maxime animi reprehenderit, sapiente necessitatibus dignissimos incidunt. Obcaecati architecto aliquid sapiente
      tempore debitis quo dolor.
      Provident sequi quod cupiditate, repudiandae soluta nostrum fugit impedit quo tenetur? In explicabo id illo
      temporibus ipsam nihil voluptate dolorum est distinctio at soluta totam ex, maiores aliquid odit! Ad.
      Suscipit dolores alias, et nostrum asperiores hic, quisquam quaerat doloremque veniam est, neque voluptatem
      possimus? Sit, incidunt. Ducimus excepturi doloremque, corrupti ab iusto magni sunt dicta maxime enim quod nihil?
      Quia dolore quibusdam sapiente, ut et molestias deleniti amet at rerum accusamus? Dolorum in impedit
      necessitatibus.
      Ratione dolorum hic suscipit eum perferendis harum asperiores nam quas illo magni! Necessitatibus, eligendi?
      Vitae, commodi! Optio aliquid, commodi eligendi exercitationem eius consectetur deserunt illo error at dolorum
      tempore incidunt quae doloribus officiis debitis sed placeat? Accusamus est neque maiores eveniet nihil non
      obcaecati!
      Ad optio nesciunt reiciendis maiores voluptatibus ipsum commodi fugit, et voluptate aliquam reprehenderit. Nobis
      explicabo hic maiores, corporis quasi rem nulla iusto officiis. Id repellat quae libero doloribus nostrum ut!
      Reiciendis perspiciatis voluptatum laborum cumque repellendus dolor reprehenderit, a dignissimos. Id consequatur
      quisquam impedit assumenda? Sapiente quis aperiam necessitatibus harum, sunt excepturi explicabo dolorum, impedit
      totam eveniet enim dolores perferendis.
      Vero nihil ipsam iure sequi adipisci exercitationem laboriosam odio fugiat pariatur, quasi error officiis illo
      omnis
      est id perferendis deleniti cupiditate dolorum delectus? Necessitatibus expedita id earum odio provident aliquam!
      Dignissimos, dicta est! Quis sunt ea dolore voluptas mollitia porro illum tenetur sapiente odit minus sequi, omnis
      nihil tempore nostrum quae cupiditate excepturi perferendis! Iste rerum optio saepe enim incidunt!
      Suscipit earum illo veniam perferendis minima labore modi officiis itaque beatae, magnam tempore esse nobis
      aliquid
      tempora dolorum quis necessitatibus nostrum! Consequatur adipisci tempora earum rem consectetur necessitatibus
      aspernatur ex?
      Neque rem iure amet suscipit esse dolore, laudantium, quisquam facilis dicta nobis, necessitatibus animi id.
      Laudantium laboriosam, laborum quo quam, recusandae voluptate facilis non aliquid quasi debitis, nisi iste ea!
      Sapiente est quisquam at voluptas incidunt omnis, hic laboriosam sequi tempora tenetur culpa et ut veniam rerum
      magni possimus recusandae obcaecati facilis quos ducimus aperiam ipsum ea! Magni, soluta repellat!
      Quam accusantium quisquam praesentium sit, obcaecati voluptatem, blanditiis excepturi ab reprehenderit nesciunt
      fugiat est distinctio molestias accusamus eaque quae aspernatur quidem omnis cum ea nulla exercitationem ad?
      Officia, optio sit.
      Dolores error fugit magni molestias distinctio dolor sequi saepe, dignissimos eligendi debitis! Corporis
      temporibus
      explicabo quaerat aut architecto. Nihil iure quam animi ut esse voluptatem labore dolor dignissimos molestiae
      commodi.
    </p>
  </section>

  {%- include footer.html -%}

</div>

<script src="/scripts/homepage.js"></script>