---
layout: default
permalink: "/"
---

<div id="home">
  <div id="masonrymedia" class="masonrycol">
    <div class="griditem" style="grid-area: span 2 / span 2">
      <a href="/portfolio">
        Portfolio
      </a>
    </div>
    <div class="griditem" style="grid-area: span 5 / span 2"></div>
    <div class="griditem" style="grid-area: span 4 / span 2"></div>
    <div class="griditem" style="grid-area: span 1 / span 2">
      <a href="https://spotify-github-profile.vercel.app/api/view?uid=rr6dpm9sb1r6419kubm7jbw4s&redirect=true" id="spotify-widget" class="widget">
        <img src="https://spotify-github-profile.vercel.app/api/view?uid=rr6dpm9sb1r6419kubm7jbw4s&cover_image=true&theme=natemoo-re&show_offline=true&background_color=121212&interchange=true&bar_color=53b14f&bar_color_cover=true" alt="spotify-github-profile" />
      </a>
    </div>
    <div class="griditem" style="grid-area: span 1 / span 4">
    </div>
  </div>
  <div id="masonryabout" class="masonrycol">
    <div class="name griditem" style="grid-area: span 1 / span 4">
      <h2 id="animated-text">
        <!-- Rick Slierendregt -->
        Work in progress
      </h2>
    </div>
    <div class="griditem" style="grid-area: span 2 / span 4">
      <images class="masonrymedia" style="background-image: url('https://raw.githubusercontent.com/Plueres/plueres/main/website_images/e2dc0ec9-e444-4f3f-b5f6-60d624c25905.webp');">
    </div>
    <div class="griditem" style="grid-area: span 2 / span 1">
    </div>
    <div class="griditem" style="grid-area: span 2 / span 2">
      <h2>WORK IN PROGRESS</h2>
    </div>
    <div class="griditem" style="grid-area: span 4 / span 1"></div>
    <div class="griditem" style="grid-area: span 2 / span 3"><a href="https://github.com/gitlimes/discord-md-badge"
        target="_blank" class="widget">
        <img src="https://dcbadge.vercel.app/api/shield/305361124109451265" />
      </a>
      <a href="https://www.reddit.com/user/_Rickname_" target="_blank" class="widget">
        <img src="https://img.shields.io/badge/Reddit-FF4500?style=for-the-badge&logo=reddit&logoColor=white" alt="">
      </a>
      <a href="https://www.twitter.com/user/_Rickname_" target="_blank" class="widget">
        <img src="https://img.shields.io/badge/Twitter-%231DA1F2.svg?style=for-the-badge&logo=Twitter&logoColor=white"
          alt="">
      </a>
    </div>
  </div>
  <div id="masonryother" class="masonrycol">
    <div class="griditem" style="grid-area: span 1 / span 3"></div>
    <div class="griditem" style="grid-area: span 1 / span 1">
      <a href="https://app.netlify.com/sites/plueres/deploys" class="widget">
        <img src="https://api.netlify.com/api/v1/badges/ff94a9c7-9b63-409d-849f-d7b5bed016d7/deploy-status"
          alt="Netlify Status" />
      </a>
    </div>
    <div class="griditem" style="grid-area: span 3 / span 4">
      <images class="masonrymedia"
        style="background-image: url('https://raw.githubusercontent.com/Plueres/plueres/main/website_images/240837-nature-sunset-sea-waves-clouds-water-colorful-3334177499.webp');">
      </images>
    </div>
    <div class="griditem" style="grid-area: span 3 / span 3"></div>
    <div class="griditem" style="grid-area: span 3 / span 1"></div>
  </div>
</div>

<script src="/scripts/homepage.js"></script>