---
layout: pages
---
<style>
    #personallist {
        /* margin-top: 6rem; */
    }

    main {
        flex-direction: column;
        width: 100vw;
        overflow: scroll;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        margin: 1rem;
    }

    li {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    img {
        height: unset;
    }

    .options {
        display: flex;
        justify-content: center;
    }

    #sort,
    #filter {
        margin: 1rem;
        padding: 1rem;
    }

    yes::before {
        background: rgba(0, 140, 40, 0.5);
        padding: 5px 12px;
        color: white;
        border-radius: 15px;
        content: "Yes";
    }

    notsure::before {
        background: rgba(135, 140, 0, 0.5);
        padding: 5px 12px;
        color: white;
        border-radius: 15px;
        content: "Not Sure";
    }

    canceled::before {
        background: rgba(132, 0, 0, 0.5);
        padding: 5px 12px;
        color: rgb(255, 126, 126);
        border-radius: 15px;
        content: "Canceled";
    }

    no::before {
        background: rgba(200, 0, 0, 0.5);
        padding: 5px 12px;
        color: white;
        border-radius: 15px;
        content: "No";
    }

    tag {
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 6px;
        line-height: 2.2;
        white-space: nowrap;
        margin: 0px;
    }

    @media screen and (max-width: 600px) {
        table {
            table-layout: auto;
            width: 100%;
            overflow-x: auto;
            margin-bottom: 6rem;
        }

        table thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        table tr {
            margin-bottom: 0.5rem;
            /* Adjust space between rows */
        }

        table td,
        table th {
            padding: 0.5rem;
            /* Adjust padding */
            text-align: left;
            /* Align text to the left */
            font-size: 0.8rem;
            /* Adjust text size */
        }
    }
</style>
<div class="options">
    <select id="sort">
        <option value="name" selected>Name</option>
        <option value="rating">Rating</option>
        <option value="seen">Seen</option>
    </select>
    <select id="filter">
    </select>
</div>

<div id="personallist">
    {{ content}}
</div>

<script>
    let htmlContent = document.body.innerHTML; // Get the HTML content
    let replacedContent = htmlContent.replace(/!(yes|notsure|no|\s*[\w-+\/]+(\s[\w-+\/]+)*)/g, function (match, p1) {
        if (['yes', 'notsure', 'no'].includes(p1.trim())) {
            return `<${p1.trim()}>`;
        } else {
            return `<tag>${p1.trim()}</tag>`;
        }
    });

    //replace numbers by the amount of stars
    document.addEventListener('DOMContentLoaded', (event) => {
        // Get the table
        const table = document.querySelector('table');

        // Find the index of the 'Personal_Rating' column
        const headers = Array.from(table.querySelectorAll('th'));
        const ratingIndex = headers.findIndex(th => th.textContent === 'Personal Rating') + 1;  // +1 because nth-child is 1-based

        // Replace the number in each cell in the 'Personal_Rating' column with stars
        if (ratingIndex > 0) {
            table.querySelectorAll(`tr td:nth-child(${ratingIndex})`).forEach(td => {
                let rating = parseInt(td.textContent.trim(), 10);
                if (!isNaN(rating)) {
                    td.textContent = '⭐'.repeat(rating);
                }
            });
        }
        // Read the 'sort' parameter from the URL
        var url = new URL(window.location.href);
        var sortParam = url.searchParams.get('sort');

        if (sortParam) {
            // Set the selected option of the 'sort' dropdown
            var sortDropdown = document.getElementById('sort');
            sortDropdown.value = sortParam;

            // Manually dispatch the 'change' event
            var event = new Event('change');
            sortDropdown.dispatchEvent(event);
        }
    });

    document.body.innerHTML = replacedContent; // Set the HTML content back

    document.querySelectorAll('tag').forEach(tag => {
        const tagName = tag.textContent.trim();
        var textColor;
        var brColor;

        switch (tagName.toLowerCase()) {
            case 'netflix':
                textColor = 'rgb(229, 9, 19)';
                brColor = 'rgb(0, 0, 0)';
                break;
            case 'disney+':
                textColor = 'white';
                brColor = 'linear-gradient(to bottom, rgb(11, 13, 52), rgb(31, 68, 146))';
                break;
            case 'star wars':
                textColor = 'black';
                brColor = 'black';
                tag.style.webkitTextStroke = "0.1px rgb(248, 228, 27)";
                break;
            case 'marvel':
                textColor = 'white';
                brColor = 'rgb(240, 20, 30)';
                break;
            case 'pc':
                textColor = 'white';
                brColor = 'linear-gradient(to bottom, rgb(58, 58, 58), rgb(96, 96, 96))';
                break;
            case 'mobile':
                textColor = 'white';
                brColor = 'darkblue';
                break;
            case 'playstation':
                textColor = 'white';
                brColor = 'linear-gradient(315deg, rgb(5, 67, 144),rgb(29, 105, 167))';
                break;
            case 'steam deck':
                textColor = 'white';
                brColor = 'linear-gradient(115deg, rgb(145, 110, 238), rgb(26, 159, 255))';
                break;
            default:
                textColor = 'white';
                brColor = 'rgba(255, 255, 255, 0.1)';
                break;
        }
        tag.style.color = textColor;
        tag.style.background = brColor;
    });
    document.getElementById('sort').addEventListener('change', sortTable);

    function sortTable() {
        var value = this.value;
        var table = document.getElementById('personallist');
        var tbody = table.querySelector('tbody');
        var rows = Array.from(tbody.querySelectorAll('tr'));  // include all rows

        var headers = Array.from(document.querySelectorAll('th')).map(th => th.textContent);
        var ratingIndex = headers.indexOf('Personal Rating') + 1;  // +1 because nth-child is 1-based
        var seenIndex = headers.findIndex(header => header.includes('Watched')) + 1;  // +1 because nth-child is 1-based

        rows.sort(function (a, b) {
            var aValue, bValue;

            if (value === 'name') {
                aValue = a.querySelector('td:nth-child(1)').textContent;
                bValue = b.querySelector('td:nth-child(1)').textContent;
                return aValue.localeCompare(bValue);
            } else if (value === 'rating') {
                aValue = (a.querySelector(`td:nth-child(${ratingIndex})`).textContent.match(/⭐/g) || []).length;
                bValue = (b.querySelector(`td:nth-child(${ratingIndex})`).textContent.match(/⭐/g) || []).length;
                return bValue - aValue;  // sort in descending order
            } else if (value === 'seen') {
                var tagPriority = function (value) {
                    if (value.includes('<yes>')) return 3;
                    if (value.includes('<no>')) return 1;
                    if (value.includes('<notsure>')) return 2;
                    return 0;
                };

                aValue = tagPriority(a.querySelector(`td:nth-child(${seenIndex})`).innerHTML);
                bValue = tagPriority(b.querySelector(`td:nth-child(${seenIndex})`).innerHTML);
                return bValue - aValue;
            }
        });

        rows.forEach(function (row) {
            tbody.appendChild(row);
        });

        // Update the URL's query parameters
        var url = new URL(window.location.href);
        var defaultSortValue = 'name'; // replace with your default sort value

        if (value !== '' && value !== defaultSortValue) {
            url.searchParams.set('sort', value);
            window.history.pushState({}, '', url);
        }
    }

    // Collect all unique tags
    var tags = Array.from(new Set(Array.from(document.querySelectorAll('tag')).map(tag => tag.textContent.trim())));

    // Add tags as options to the #filter select
    var filterSelect = document.getElementById('filter');

    // Add a "no filter" option
    var noFilterOption = document.createElement('option');
    noFilterOption.value = '';
    noFilterOption.textContent = 'No filter';
    filterSelect.appendChild(noFilterOption);

    tags.forEach(tag => {
        var option = document.createElement('option');
        option.value = tag;
        option.textContent = tag;
        filterSelect.appendChild(option);
    });

    // Add an event listener to the #filter select
    filterSelect.addEventListener('change', function () {
        var value = this.value;

        // Get all rows
        var rows = Array.from(document.getElementById('personallist').querySelector('tbody').querySelectorAll('tr'));

        // Show all rows
        rows.forEach(row => row.style.display = '');

        if (value) {
            // If a tag is selected, hide the rows that do not have this tag
            rows.forEach(row => {
                var rowTags = Array.from(row.querySelectorAll('tag')).map(tag => tag.textContent.trim());
                if (!rowTags.includes(value)) {
                    row.style.display = 'none';
                }
            });
        }
    });

</script>