---
layout: pages
---
<style>
    #personallist {
        /* margin-top: 6rem; */
    }

    main {
        flex-direction: column;
        width: 100vw;
        overflow: scroll;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        margin: 1rem;
    }

    li {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    img {
        height: unset;
    }

    yes::before {
        background: rgba(0, 140, 40, 0.5);
        padding: 5px 12px;
        color: white;
        border-radius: 15px;
        content: "Yes";
    }

    notsure::before {
        background: rgba(135, 140, 0, 0.5);
        padding: 5px 12px;
        color: white;
        border-radius: 15px;
        content: "Not Sure";
    }

    no::before {
        background: rgba(200, 0, 0, 0.5);
        padding: 5px 12px;
        color: white;
        border-radius: 15px;
        content: "No";
    }

    tag {
        background: rgba(255, 255, 255, 0.1);
        padding: 4px 8px;
        border-radius: 6px;
        line-height: 2.2;
        white-space: nowrap;
        margin: 0px;
    }
</style>
<div id="personallist">
    {{ content}}
</div>
<script>
    let htmlContent = document.body.innerHTML; // Get the HTML content
    let replacedContent = htmlContent.replace(/!\s*([\w-]+(\s[\w-]+)*)/g, function (match, p1) {
        return `<tag>${p1.trim()}</tag>`;
    });
    document.body.innerHTML = replacedContent; // Set the HTML content back
</script>