---
layout: pages
---
<style>
    #personallist {
        /* margin-top: 6rem; */
    }

    main {
        flex-direction: column;
        width: 100vw;
        overflow: scroll;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        margin: 1rem;
    }

    li {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    img {
        height: unset;
    }
</style>
<div id="personallist">
    {{ content}}
</div>