---
layout: article

---
<div class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <div id="tags">
            {% for tag in page.tags %}
            <a href="{{ site.url }}/articles?tags={{ tag | url_encode }}">
                <posttags>{{ tag }}</posttags>
            </a>
            {% endfor %}
        </div>
        {% for tag in article.tags %}
        <a href="{{ site.url }}/articles?tags={{ tag | url_encode }}">
            <posttags>{{ tag }}</posttags>
        </a>
        {% endfor %}
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                    itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
        </p>
    </header>

    {% if page.images %}
    <div id="ImgModal">
        <img class="modal-content" id="img">
        <div id="caption"></div>
    </div>
    <div class="previews">
        {% for image in page.images %}
        <img class="preview" src="{{ image }}">
        {% endfor %}
    </div>
    {% endif %}

    {% for pack in site.data.minecraft %}
    {% if pack.postname == page.title %}
    <!-- <h2>{{ pack.postname }}</h2>
                <p>Type: {{ pack.type }}</p> -->
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>
    <hr>
    <br>
    <ul>
        {% for version in pack.versions %}
        <li>
            <h4><b>{{ version.number }}</b>
                <a href="{{site.files}}{{pack.filename}}_{{ version.number }}.zip" download>
                    zip
                    <span class="material-symbols-rounded">
                        download
                    </span>
                </a>
                <a href="{{site.files}}{{pack.filename}}_{{ version.number }}.mcpack" download>
                    mcpack
                    <span class="material-symbols-rounded">
                        download
                    </span>
                </a>
            </h4>
            {% assign changelog = site.data.changelogs[pack.filename] %}
            {% for change in changelog[version.number] %}
            <p>{{ change }}</p>

            {% endfor %}

        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}


    <!-- add disqus comments here -->
    {% if page.comments %}
    {%- include disqus_comments.html -%}
    {% endif %}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</div>
<script src="/scripts/minecraftpost.js"></script>